# 2nd Fab Assignment

------------------------------------------------------------------------------------------------------------------------------------------------

 Q.1 When to use for loop and while loop,explain with each of example.

->If you know the number of iteration,you should use for loop.



->If you don't know the number of iteration,you shold use while loop.

-> Example of for loop.
Let's reverse the list.

In [6]:
l=["iter1","iter2","iter3","iter4","iter5"]

for i in range(len(l)-1,-1,-1):
    print(l[i])

iter5
iter4
iter3
iter2
iter1

-> Example of while loop
Let's find the factorial of n numbers.

In [7]:
n=int(input("Enter the value:"))
fact=1

while n>0:
    fact=fact*n
    n=n-1
fact

Enter the value: 5

120

------------------------------------------------------------------------------------------------------------------------------------------------

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

-> Sum of 10 natural numbers using for loop.

In [44]:
ans=0
for i in range(1,11):
    ans=ans+i
print(ans)

55

-> Sum of 10 natural numbers using while loop.

In [22]:
start=10
summ=0

while start>=1:
    summ=summ+start
    start=start-1
summ

55

-> Product of 10 natural numbers using for loop.

In [23]:
prod=1

for i in range(1,11):
    prod=prod*i
    i=i+1
prod

3628800

-> Product of 10 natural number using while loop.

In [24]:
start=1
prod=1

while start<=10:
    prod=prod*start
    start=start+1
prod

3628800

------------------------------------------------------------------------------------------------------------------------------------------------

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

In [14]:
units = int(input("Enter the number of units consumed: "))


if units <= 100:
        bill = units * 4.5
elif units <= 200:
        bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
        bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
        bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
print(bill)

Enter the number of units consumed:  310

2250.0

------------------------------------------------------------------------------------------------------------------------------------------------

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

-> Cubes using for loop

In [27]:
l=[]
for i in range(1,101):
    cube=i*i*i
    print(cube)
    if cube%4==0 or cube%5==0:
        l.append(cube)
    i=i+1
l

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

-> Cubes using while loop

In [29]:
i=1
l=[]
while i<=100:
    result=i*i*i
    print(result)
    if result%4==0 or result%5==0:
        l.append(result)
    i=i+1
l

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

------------------------------------------------------------------------------------------------------------------------------------------------

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [42]:
count=0
string = "I want to become a data scientist"

for i in string:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
        count=count+1
    
count

12